<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>MinimumOSVersion</key>
	<string>15.6</string>
	<key>UIStatusBarStyle</key>
	<string>UIStatusBarStyleDefault</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>Uygulama, ses kaydı iñin mikrofon erişimi ister.</string>
	<key>DTXcodeBuild</key>
	<string>16C5032a</string>
	<key>UIApplicationSupportsIndirectInputEvents</key>
	<true/>
	<key>UISupportedDevices</key>
	<array>
		<string>iPhone10,2</string>
		<string>iPhone10,3</string>
		<string>iPhone10,5</string>
		<string>iPhone10,6</string>
		<string>iPhone11,2</string>
		<string>iPhone11,4</string>
		<string>iPhone11,6</string>
		<string>iPhone12,3</string>
		<string>iPhone12,5</string>
		<string>iPhone13,1</string>
		<string>iPhone13,2</string>
		<string>iPhone13,3</string>
		<string>iPhone13,4</string>
		<string>iPhone14,2</string>
		<string>iPhone14,3</string>
		<string>iPhone14,4</string>
		<string>iPhone14,5</string>
		<string>iPhone14,7</string>
		<string>iPhone14,8</string>
		<string>iPhone15,2</string>
		<string>iPhone15,3</string>
		<string>iPhone15,4</string>
		<string>iPhone15,5</string>
		<string>iPhone16,1</string>
		<string>iPhone16,2</string>
		<string>iPhone8,2</string>
		<string>iPhone9,2</string>
		<string>iPhone9,4</string>
	</array>
	<key>DTAppStoreToolsBuild</key>
	<string>17A323</string>
	<key>CFBundleName</key>
	<string>Kliq</string>
	<key>CFBundleSupportedPlatforms</key>
	<array>
		<string>iPhoneOS</string>
	</array>
	<key>CFBundleDisplayName</key>
	<string>Kliq</string>
	<key>NSSpeechRecognitionUsageDescription</key>
	<string>Konuşma tanıma üzelliğini kullanmak iñin izin gereklidir.</string>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
	</array>
	<key>ITSDRMScheme</key>
	<string>v2</string>
	<key>DTPlatformBuild</key>
	<string>22C146</string>
	<key>DTXcode</key>
	<string>1620</string>
	<key>DTSDKName</key>
	<string>iphoneos18.2</string>
	<key>CFBundleVersion</key>
	<string>597</string>
	<key>UIDeviceFamily</key>
	<array>
		<integer>1</integer>
		<integer>2</integer>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
		<string>processing</string>
	</array>
	<key>CFBundleIcons</key>
	<dict>
		<key>CFBundlePrimaryIcon</key>
		<dict>
			<key>CFBundleIconName</key>
			<string>AppIcon</string>
			<key>CFBundleIconFiles</key>
			<array>
				<string>AppIcon60x60</string>
			</array>
		</dict>
	</dict>
	<key>DTPlatformName</key>
	<string>iphoneos</string>
	<key>NFCReaderUsageDescription</key>
	<string>Kimlik doğrulama iñin NFC kullanılıyor.</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Yakındaki Kliq noktalarını gürebilmek iñin konum izni gereklidir.</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>Yakındaki Kliq noktalarını gürebilmek iñin konum izni gereklidir.</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>kliqapp</string>
			</array>
			<key>CFBundleURLName</key>
			<string>tr.com.bpn.kliq</string>
		</dict>
	</array>
	<key>CFBundleIdentifier</key>
	<string>tr.com.bpn.kliq</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>Fotoğrafları galerine kaydetmek iñin izin gereklidir.</string>
	<key>CFBundleExecutable</key>
	<string>Kliq</string>
	<key>LSApplicationCategoryType</key>
	<string>public.app-category.finance</string>
	<key>BuildMachineOSBuild</key>
	<string>23F79</string>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>CFBundleIcons~ipad</key>
	<dict>
		<key>CFBundlePrimaryIcon</key>
		<dict>
			<key>CFBundleIconName</key>
			<string>AppIcon</string>
			<key>CFBundleIconFiles</key>
			<array>
				<string>AppIcon60x60</string>
				<string>AppIcon76x76</string>
			</array>
		</dict>
	</dict>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>whiteshark</string>
		<string>vpnmaster</string>
		<string>shadowrocket</string>
		<string>xvpn</string>
		<string>psiphon</string>
		<string>nordvpn</string>
		<string>expressvpn</string>
		<string>betternet</string>
		<string>windscribe</string>
		<string>hotspotshield</string>
	</array>
	<key>NSContactsUsageDescription</key>
	<string>Kişileri almak iñin erişim izni verilmelidir.</string>
	<key>DTCompiler</key>
	<string>com.apple.compilers.llvm.clang.1_0</string>
	<key>UIUserInterfaceStyle</key>
	<string>Light</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>arm64</string>
	</array>
	<key>NSCameraUsageDescription</key>
	<string>Bu üzelliği kullanabilmen iñin kamera erişim izni verilmelidir.</string>
	<key>LSMinimumSystemVersion</key>
	<string>13.0</string>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
	</dict>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>UIAppFonts</key>
	<array>
		<string>Urbanist-Black.ttf</string>
		<string>Urbanist-BlackItalic.ttf</string>
		<string>Urbanist-Bold.ttf</string>
		<string>Urbanist-BoldItalic.ttf</string>
		<string>Urbanist-ExtraBold.ttf</string>
		<string>Urbanist-ExtraBoldItalic.ttf</string>
		<string>Urbanist-ExtraLight.ttf</string>
		<string>Urbanist-ExtraLightItalic.ttf</string>
		<string>Urbanist-Italic.ttf</string>
		<string>Urbanist-Light.ttf</string>
		<string>Urbanist-LightItalic.ttf</string>
		<string>Urbanist-Medium.ttf</string>
		<string>Urbanist-MediumItalic.ttf</string>
		<string>Urbanist-Regular.ttf</string>
		<string>Urbanist-SemiBold.ttf</string>
		<string>Urbanist-SemiBoldItalic.ttf</string>
		<string>Urbanist-Thin.ttf</string>
		<string>Urbanist-ThinItalic.ttf</string>
		<string>DMSans-Regular.ttf</string>
		<string>OpenSans-BoldItalic.ttf</string>
		<string>DMSans-Bold.ttf</string>
		<string>DMSans-Medium.ttf</string>
	</array>
	<key>BGTaskSchedulerPermittedIdentifiers</key>
	<array>
		<string>tr.com.bpn.kliq.sessionTimerRefresh</string>
	</array>
	<key>DTSDKBuild</key>
	<string>22C146</string>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>DTPlatformVersion</key>
	<string>18.2</string>
	<key>CFBundleShortVersionString</key>
	<string>1.25.1</string>
	<key>com.apple.developer.nfc.readersession.iso7816.select-identifiers</key>
	<array>
		<string>A0000002471001</string>
	</array>
</dict>
</plist>